<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Auth App</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>


<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="https://mpng.subpng.com/20180703/yix/kisspng-lightweight-directory-access-protocol-computer-ico-authentication-protocol-5b3bc94719ac36.4341743315306448071052.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        First Auth App
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li sec:authorize="!isAuthenticated()" class="nav-item">
            <a class="nav-link" href="/login">login</a>
        </li>
        <li sec:authorize="!isAuthenticated()" class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" th:href="@{|/users/${#authentication.principal.id}|}">User</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<div sec:authorize="isAuthenticated()" class="jumbotron">
    <h1> Welcome, <span sec:authentication="name">Username</span></h1>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>